<mat-toolbar color="primary">
  <div class="row">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="md-screen">
      <button
      mat-button
      >
      Find Match
    </button>

    <button
    mat-button
      >
      My Matches
    </button>
    <button
    mat-button
      >
      Message
    </button>
  </span>


    <span class="example-spacer"></span>
         <button
      mat-button
      >
      Good day {{(accountService.currentUser$|async).username}}
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</mat-toolbar>
