

:host {
  background-image: url("/assets/img/trees-4664060_1920.jpg");
  height: 100%;
  display: block;
  overflow: auto;

}
app-main  {
  background-color: var(--main-bg-color);
  height: 100%;
  display: block;
  overflow: auto;
  background-color: #303030;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23c2185b' fill-opacity='0.35'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.flex {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.change-mod {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--main-bg-color);
}

.change-mod > div {
  margin: 3em;
}

.form-wrap {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.sing-in {
  width: 100%;
  max-width: 700px;
}

@media only screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
    background: rgba(48, 48, 48, 0.5);
  }
  .change-mod-btn,.sm-show{
    margin: 0.5em auto!important;
  }
  .change-mod{
    background: rgba(48, 48, 48, 0.5);
      backdrop-filter: blur(5px);
  }
}
@media only screen and (min-width: 601px) {
  .registerMod-up {
    flex-direction: row-reverse;
    background: rgba(48, 48, 48, 0.8);

    animation-duration: 2s;
  }
  .registerMod-in {
    flex-direction: row;
    background: rgba(48, 48, 48, 0.8);

    animation-duration: 2s;
  }
  .registerMod-in .change-mod {
    animation-name: example3;
    animation-duration: 1s;
  }
  .registerMod-up .change-mod {
    animation-name: example4;
    animation-duration: 1s;
  }
}

/* @keyframes example {
  from {
    background: rgba(48, 48, 48, 1);
    color: rgba(48, 48, 48, 1);
    display: none;
  }
  to {
    background: rgba(48, 48, 48, 0.8);
    color: #fff;
  }
}
@keyframes example2 {
  from {
    background: rgba(48, 48, 48, 1);
  }
  to {
    background: rgba(48, 48, 48, 0.8);
    color: #fff;
  }
}
@keyframes example3 {
  from {
    background: rgba(48, 48, 48, 0);
  }
  to {
    background: rgba(48, 48, 48, 1);

    color: #fff;
  }
} */
/* @keyframes example4 {
  from {
    background: rgba(48, 48, 48, 0);
  }
  to {
    background: rgba(48, 48, 48, 1);

    color: #fff;
  }
} */
.change-mod-btn {
  width: 100%;
  text-align: center;
}
.change-mod-btn > button {
  width: 80%;
}
