<form (submit)="onSubmit()" #ngRegisterForm="ngForm">
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="basicInfo" (selectionChange)="onBasicFormSubmit()">
      <div class="form" [formGroup]="basicInfo">
        <ng-template matStepLabel>Basic Info</ng-template>
        <div class="">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput required />
            <mat-error *ngIf="basicInfo.get('firstName').hasError('required')">
              First name is a required field.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required />
            <mat-error *ngIf="basicInfo.get('lastName').hasError('required')">
              Last name is a required field.
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              formControlName="dateOfBirth"
              [matDatepicker]="picker"
              [max]="maxDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
            <mat-error
              *ngIf="basicInfo.get('dateOfBirth').hasError('required')"
            >
              Date of birth is required a required field.
              <br />
              make sure to use the day/mount/full year format
            </mat-error>
            <mat-error
              *ngIf="basicInfo.get('dateOfBirth').hasError('minimumAge')"
            >
              You must be over 18 years old
            </mat-error>
          </mat-form-field>
        </div>
        <div class="genderWrap">
          <label id="example-radio-group-label">Gender: </label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="Female">Female</mat-radio-button>
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-error
              *ngIf="
                basicInfo.get('gender').hasError('required') &&
                basicInfo.get('gender').touched
              "
              class="error"
            >
              You muse select your gender.
            </mat-error>
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            type="button"
            (click)="onBasicFormSubmit()"
            mat-button
            matStepperNext
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="interestForm">
      <div class="form" [formGroup]="interestForm">
        <div class="example-container">
          <ng-template matStepLabel>Intrests </ng-template>
          <div class="">
            <mat-form-field appearance="fill">
              <mat-label>You are insreredent in ?</mat-label>
              <mat-select formControlName="interestIn">
                <mat-option value="female">Female</mat-option>
                <mat-option value="male">Male</mat-option>
                <mat-option value="both">Both</mat-option>
              </mat-select>
              <mat-error
                *ngIf="interestForm.get('interestIn').hasError('required')"
                class="error"
              >
                This file is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field appearance="fill">
              <mat-label>A litle bit about you</mat-label>
              <textarea
                #aboutField
                rows="4"
                matInput
                maxlength="400"
                formControlName="aboutMe"
              ></textarea>
              <mat-hint align="end"
                >{{ aboutField.value.length }} / 400</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="text-center">
            <button type="button" mat-button matStepperPrevious>Back</button>

            <button type="button" mat-button matStepperNext>Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Login information</ng-template>
      <p>We are almost there</p>
      <div class="form" [formGroup]="loginInfoForm">
        <div class="example-container">
          <ng-template matStepLabel>What do you look for?</ng-template>

          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput required />
          <mat-error *ngIf="loginInfoForm.get('username').hasError('included')" >
              Username is already taken
           </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password </mat-label>
            <input
              formControlName="password"
              type="password"
              matInput
              required
            />
            <mat-error
              *ngIf="loginInfoForm.get('password').hasError('required')"
              class="error"
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="loginInfoForm.get('password').hasError('pattern')"
              class="error"
            >
              A password must contain a number , a lower case character, a upper case character, and a specie character
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password Confirm </mat-label>
            <input
              formControlName="passwordConfirm"
              type="password"
              matInput
              required
            />
            <mat-error
              *ngIf="loginInfoForm.get('passwordConfirm').hasError('required')"
              class="error"
            >
              You must confirm your password
            </mat-error>
            <mat-error
              *ngIf="loginInfoForm.get('passwordConfirm').hasError('isMatching')"
              class="error"
            >
              Passwords don't match
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="text-center">
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="formRegister.invalid"
        >
          Submit
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
