<div class="search example-container">

  <form [formGroup]="">
    <div class="">
      <mat-form-field appearance="fill" >
        <mat-label>Form age</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>To age</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>

      <mat-form-field appearance="fill">

        <mat-select >
          <mat-option value="option">Both</mat-option>
          <mat-option value="option">Female</mat-option>
          <mat-option value="option">Male</mat-option>
        </mat-select>
        <mat-label> Gender </mat-label>
      </mat-form-field>
    </div>
    <div class="">
      <button mat-button> Search</button>
    </div>
  </form>
</div>
<app-member-card></app-member-card>
