<div class="img-wrap"

[@dataChange]="dataState" (@dataChange.done)="dataState = 'done'"
>
  <div class="img-wrap">
    <img
      mat-card-image
      src="https://swipelife.tinder.com/static/3a30c78ae69717a040bfd45d0604c91c/f9b26/tinder-bio-suggestions-read-article.jpg"
      alt="blop"
    />
    <div class="sub">
      <div class="btn">
        <button
          mat-icon-button
          aria-label="Example icon-button with a menu"
          color="primary"
          (click)="likeUser()"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon-button with a menu"

          (click)="mehUser()"
        >
          <mat-icon>clear</mat-icon>
        </button>

      </div>
      <hr>
      <div class="info">
        <h3>
          {{ member.firstName }} {{ member.lastName }}, {{ member.age }}
          {{ member.gender }}
        </h3>
        <p>
          {{ member.aboutMe }}
        </p>
      </div>
    </div>
  </div>
  <!-- <mat-card class="example-card" *ngIf="member">
  <div class="img-wrap">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <div class="btn">
      <button mat-button color="accent" (click)="likeUser()">LIKE</button>
      <button mat-button type="button" (click)="mehUser()" color="warn">
        MEH
      </button>
    </div>
  </div>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      >{{ member?.firstName }} {{ member?.lastName }}</mat-card-title
    >
    <mat-card-subtitle>
      {{ member?.gender }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
</mat-card> -->
</div>
