<h1>Welcome back</h1>
<form (submit)=" login()" #loginForm="ngForm">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="model.username" name="username"   />
          <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>
      </div>
      <div class="">
         <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="model.password" name="password" />
        </mat-form-field>
      </div>
      <div class="">
            <button type="submit" mat-raised-button color="primary">login</button>

      </div>
</form>
